einops
Flask
fsspec==2023.12.2
gitdb
h5py
idna
loguru
matplotlib
mdurl
medmnist
ml_collections
monai
monai-generative
ninja
numpy
oauthlib
opencv-python
python-dateutil
python-dotenv
s3fs==2023.12.2
scikit-image
scikit-learn
torch
torchvision
scipy
sympy
toml
tqdm
waitress
wandb
diffusers @ git+https://github.com/huggingface/diffusers
pydicom
lpips
robust_loss_pytorch @ git+https://github.com/jonbarron/robust_loss_pytorch
datasets==2.19.2
transformers
accelerate
bitsandbytes
zuko
torchdiffeq
lpips
hydra-core
pytorch_fid